.container{
    display: flex;
    flex-direction:column;
    width:800px;
    gap:10px;
    margin-left:20px;
    margin-top:15px;
}

.main{
    box-shadow:0 0 5px rgba(0,0,0,0.25);
    width:500px;
    margin-left:15px;
    padding-bottom: 15px;;
}

div{
    font-family:arial;
}

.inbox-label{
    color:gray;
    flex:1;
    padding-top:10px;
}

.email{
    display: flex;
    flex-direction:row;
    margin-top: 15px;;

}

.email-content{
    margin-left:15px;
}

.email-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:370px;
}

.sender-picture-container{
    display:flex;
    flex-direction: row;
}

.sender-picture{
    height:80px;
    width:80px;
    object-fit: cover;
    border-radius:100%;
}

.sender-nme{
    font-size:20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.subject{
    font-size:16px;
    font-weight: bold;
    
}

.message{
    color:gray;
    margin-top:4px;
}

