 .red{
            background-color: red;
            color:red;
            height:100px;
            width:100px;
            display: inline-block;
            vertical-align: top;
        }
        .green{
            background-color: green;
            color:green;
            height:100px;
            width:100px;
            display: inline-block; 
            border-radius: 100px;
        }
        .service{
            border:solid;
            border-width: 1px;
            height:100px;
            width:300px;
            padding-left:9px;
        }

        .first-div{
            background-color:rgb(33, 33, 33);
            color:white;
            padding-bottom: 5px;
            padding-top: 5px;
            width:500px;
            margin-top: 10px;

        }
        .img{
        width:70px;
        height:70px;
        object-fit: cover;
        border-radius:100px;
        vertical-align: middle;

    }
    .line{
        vertical-align: middle;
        color:gray;
        font-size:20px;
        font-family: arial;
        margin-right:100px;
        margin-left:10px;
        
    }

    .tweet-button {
            background-color:rgb(90, 134, 236);
            border:none;
            color:white;
            height:36px;
            width:80px;
            font-weight:bold;
            font-size:15px;
            cursor:pointer;
            border-radius:20px;
            letter-spacing:0.1px;
            vertical-align:middle;


        }
    .tweet{
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top:10px;
        box-shadow: 2px 2px 10px ;
        width:500px;
    }