.img1{
        width:200px;
        border-radius: 20px;
        margin-right:50px;
    }

    .img2{
        width:200px;
        height:200px;
        object-fit:cover;
        
        object-position: center;
    }

    .img3{
        width:150px;
        height:150px;
        object-fit:cover;
        border-radius: 20px;
        margin-left:50px;
        border-radius:1000px;
        object-position: center;

    }

     .search{
            border-radius: 5px;
            border:solid;
            border-width:0.5px;
            border-color:gray;
        }

        .search2{
             border-radius: 5px;
            border:white;
            padding-top:5px;
            padding-bottom:5px;
            width:250px;
            box-shadow:0 4px 12px rgba(0, 0, 0, 0.1) ;
            

        }


